<div class="row paper-bg">
				  <div class="col-xs-12">  
						<div class="row">
						  <div class="col-xs-12 add-line">
							<div class="row del-btn">
							  <div style="padding-left: 30px;" class="col-xs-4 col-sm-3 pull-left head-txt text-white">Paper#1</div>
							  <div class="col-xs-4 col-sm-2 pull-right"><a class="delete-btn" href="#">delete</a></div>
							</div>
						  </div>
						</div>
						<div class="row add-line">
						  <div class="col-xs-12 col-sm-2">Ticker:</div>
						  <div class="col-xs-6 col-sm-3"><span class="text-white">{ticker}</span> - {name}</div>
						  <div class="col-xs-6 col-sm-7">Last: <span class="text-white">{price}$</span></div>
						</div>
						<div class="row add-line">
						  <div class="col-xs-6 col-sm-2">Shares:</div>
						  <div class="col-xs-6 col-sm-10"><input type="number" id="shares-{tickerName}"></div>
						</div>
						<div class="row add-line">
						  <div class="col-xs-6 col-sm-2">Price:</div>
						  <div class="col-xs-6 col-sm-10">$</div>
						</div>
						<div class="row add-line">
						  <div class="col-xs-6 col-sm-2">Type:</div>
						  <div class="col-xs-6 col-sm-10">
							<div class="btn-group">
							  <button class="btn btn-default group-mark head-txt" type="button">buy</button>
							  <button class="btn btn-default group-mark2 head-txt" type="button">sell</button>
							</div>
						  </div>
						</div>
						<div class="row add-line">
						  <div class="col-xs-4 col-sm-2">Date:</div>
						  <div class="col-xs-5 col-sm-3">
							<input type="date" class="form-control textboxAdd">
						  </div>
						  <div style="padding-left :0px;" class="col-xs-1 col-sm-1"><i class="fa fa-calendar fa-2x"></i></div>
						</div>
				  </div>
</div>
<div class="void12"></div>