
          <div class="col-md-5 col-sm-5 col-xs-12 portfolioSingleTemplate" data-portfolioId="{portfolioID}">
            <div class="thumbnail thumb-bg">
            <div class="row">
              <div class="col-xs-6 head-txt text-white">{portfolioName} {virtualStatus}</div>
              <div class="col-xs-6">
                <div class="row">
                  <div class="col-xs-12 text-white text-right mkt">22.85$</div>
                  <div class="col-xs-12 text-right">Mkt Price</div>
                </div>
              </div>
            </div>
            <div class="row underline"   style="padding-bottom: 20px;">
              <div id="summ_{portfolioID}" class="col-xs-12 col-sm-5 col-md-4 summSingleChart" style="padding-bottom: 20px;">
              
              </div>
              <div class="col-xs-6 col-sm-3 col-md-4">
                <div class="row">
                  <div class="col-xs-12 text-green pl"></div>
                  <div class="col-xs-12">P/L (%)</div>
                  <div class="col-xs-12 text-white">500/200</div>
                  <div class="col-xs-12">Shares</div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-4 col-md-4">
                <div class="row">
                  <div class="col-xs-12 text-green">+234,04$</div>
                  <div class="col-xs-12">P/L ($)</div>
                  <div class="col-xs-12 text-white">42.22</div>
                  <div class="col-xs-12">Avg Cost</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 textR">
                Total P/L:  <span class="text-red">-1 385,00$ (-6.44%)</span>
              </div>
            </div>
            </div>
			
	<div style="display:none;" class="tickerList">
	
	</div>
	
            <div onclick="$(this).closest('.tickerList').html(''dsafdsafsdfsadf); " class="caret-thumb tmpTicker"><i class="fa fa-angle-double-right"></i></div>
         
	 </div>
		  
		  
 







